@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('./fonts/PTSans-Regular.ttf') format('truetype');
}

/* Define PT Sans Italic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'),
       url('./fonts/PTSans-Italic.ttf') format('truetype');
}

/* Define PT Sans Bold */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('./fonts/PTSans-Bold.ttf') format('truetype');
}

/* Define PT Sans Bold Italic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
       url('./fonts/PTSans-BoldItalic.ttf') format('truetype');
}

body {
  font-family: 'PT Sans', sans-serif;
}


/* Wrapper */
.wrapper {
  min-height: 100%;
	overflow: hidden;
	display: flex;
  flex-direction: column;
}

/* Navbar styles */
.navbar {}
.navbar__wrapper {}
.navbar__row {
  height: 87px;
}

/* Menu icon styles for the navbar */
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 20px;
  height: 14px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 6.5px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.burger__label{
  padding-top: 40px;
}
/* Content styles */
.content {
  flex-grow: 1;
}

/* Shared styles for wrapper within navbar and content */
.navbar__wrapper {}

/* Content row */
.content__row {
  display: flex;
  flex-direction: column;
}

/* Logo style */
.logo {
  width: 90px;
  height: 26px;
  font-size: 14px;
  font-weight: 700; /* Bold text */
  line-height: 18.12px;
  display: flex;
  align-items: center; /* This centers the content vertically */
  justify-content: center; /* This centers the content horizontally */
  color: #FFFFFF; /* Text color is white */
  background: #0036FF;
  ; /* Adjusted background color to match image */
  border: none; /* No border by default, adjust if needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-bottom: 30px;
}

/* Main title style */
.main-title {
  /* width: 90px;
  height: 26px; */
  font-size: 30px;
  font-weight: 400; /* Bold text */
  line-height: 18.12px;
  color: #464646;
  margin-bottom: 25px;
}

/* Grid for guides */
.guide-grid {
  display: flex;
  flex-wrap: wrap; /* This will allow items to wrap onto the next line */
  justify-content: space-between; /* This aligns items to the left */
  align-items: flex-start; /* This aligns items to the top */
  margin-bottom: 35px;
}
.guide {
  width: 31%; /* Set the width of each item to be 33% of the container's width */
  box-sizing: border-box; /* This ensures that padding and border are included in the width */
  height: 50px;
  display: flex;
  align-items: center; /* This centers the content vertically */
  justify-content: center; /* This centers the content horizontally */
  background-color: #FFE500;
  font-size: 16px;
  margin-bottom: 3%;
  cursor: pointer;
}

/* Daily dose section and articles */
.gradient-bg{
  background: linear-gradient(283.41deg, #4D73FF -1.55%, #85E0FF 100%);
  
  width: 100%;
  
}
.daily-dose__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  /* justify-content: space-between; 
  align-items: flex-start;  */
}
.daily-dose__item {
   flex: 0 0 100%
}
/* Выбор каждого 4-го элемента, начиная с 2-го, и следующего за ним элемента (2-й и 3-й, 6-й и 7-й и т.д.) */
.daily-dose__items .daily-dose__item:nth-child(4n-2),
.daily-dose__items .daily-dose__item:nth-child(4n-1) {
  flex: 0 0 48%;
}
.daily-dose__img {
  height: 135px;
  margin-bottom: 15px;

  overflow: hidden;
  position: relative;
  
}
.daily-dose__img img{
  width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
left: 0;

padding-right: 10px;
}
.daily-dose__date{
  font-size: 14px;
  font-weight: 400; /* Bold text */
  color: #9A9A9A;
  margin-bottom: 5px;
}
.daily-dose__text{
  font-size: 18px;
  font-weight: 400; /* Bold text */
  color: #545454;
  margin-bottom: 25px;
}


/* Responsive container */
.container {
  max-width: 375px;
  margin: 0px auto;
  background: #F4F4F4;
  padding: 0 20px 0 20px;
}